/* estilos main de la página de contacto */

label {
    font-family: 'Confortaa';
}

form {
    width: 60%;
    border-radius: 7px;
    background-color: rgb(144, 147, 197);
    padding: 30px;
    margin: auto;
    text-align: left;
}

input[type="text"], input[type="email"]{
    margin: 10px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    width: 92%;
}

input[type="text"] {
    max-width: 200px;
}

input[type="email"] {
    max-width: 260px;
}

input {
    margin: 10px;
    border: none;
}

textarea {
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    width: 95%;
    height: 250px;
    resize: vertical;
    font-size: 15px;
    padding-top: 10px;
}

div.button {
    text-align: center;
}

button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 50%;
}

button:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

button:active {
    transform: scale(0.95);
}

input[type="checkbox"]:checked {
    background-color: #4CAF50;
    border-color: #4CAF50;
}
