body {
    background-color: rgb(239, 242, 255);
    margin: 0;
    /* min-width: 500px; */
}

header, footer {
    font-family: 'Kodchasan';
    text-align: center;
    color: black;
    background-color: rgb(177, 177, 177);
    padding: 1px;
    position: sticky;
    top: 0;
}

header {
    font-size: 25px;
}

.logo {
    position: absolute;
    left: 0;
    margin: 2.5px;
    padding: 0;
}

.logo img{
    margin-top: 5px;
    margin-left: 15px;
    width: 200px;
}

/* nav */

    nav {
        font-family: 'Open Sans';
        display: flex;
        justify-content: center;
        background-color: rgb(177, 177, 177);
        font-size: 20px;
    }

    nav ul {
        flex: 1;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 10%;
        /* background-color: aqua; */
    }

    nav ul li {
        /* flex: 1; */
        padding: 10px;
        border-radius: 10px;
        justify-content: center;
    }

    nav ul li:hover {
        background-color: rgb(136, 142, 168);
        color: rgb(214, 213, 213);
    }

    nav a {
        text-decoration: none;
        color: inherit;
    }
    nav a:hover {
        text-decoration: none;
        color: rgb(214, 213, 128);
    }

/* a */
    a {
        text-decoration: none;
        color: inherit;
    }

    a:hover {
        color: rgb(000, 000, 128);
        text-decoration: underline;
    }







/* main */

    h2 {
        font-family: 'Open Sans';
        margin: 30px;
    }

    main:not(.portada){
        margin: 0;
        /* margin-right: 20%; */
        /* margin-left: 20%; */
        /* background-color:aqua; */

        min-width: 500px;
    }

    p {
        font-size: 20px;
        font-family: 'Confortaa';
    }
    .pagina1 {
        background-color: rgb(220, 220, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        margin: 50px;
    }

    .pagina1 img {
        justify-content: center;
        width: 900px;
    }

    .pagina1 p {
        padding-left: 20px;
        padding-right: 20px;
    }

    .pagina2 {
        background-color: rgb(220, 220, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        margin: 50px;
    }

    .pagina2 img {
        justify-content: center;
        width: 900px;
    }

    .pagina2 p {
        padding-left: 20px;
        padding-right: 20px;
    }

    .pagina3 {
        background-color: rgb(220, 220, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        margin: 50px;
    }

    .pagina3 img {
        justify-content: center;
        width: 900px;
    }

    .pagina3 p {
        padding-left: 20px;
        padding-right: 20px;
    }


/* footer */ 

footer a {
    font-family: 'Open Sans';
}

footer a:hover {
    text-decoration: underline;
}