body {
    background-color: rgb(239, 242, 255);
    margin: 0;
}
header, footer {
    font-family: 'Kodchasan';
    text-align: center;
    color: black;
    background-color: rgb(177, 177, 177);
    padding: 1px;
    position: sticky;
    top: 0;
}

header {
    font-size: 25px;
}

.logo {
    position: absolute;
    left: 0;
}

.logo img{
    margin-top: 5px;
    margin-left: 15px;
    width: 300px;
}

a {
    text-decoration: none;
    color: inherit;
}
h2 {
    font-family: 'Open Sans';
    margin: 30px;
}

/* nav */

nav {
    font-family: 'Open Sans';
    display: flex;
    justify-content: center;
    background-color: rgb(177, 177, 177);
    font-size: 20px;
}

nav ul {
    flex: 1;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 10%;
    /* background-color: aqua; */
}

nav ul li {
    /* flex: 1; */
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
}

nav ul li:hover {
    background-color: rgb(136, 142, 168);
    color: rgb(214, 213, 213);
}

/* a */
a {
    text-decoration: none;
    color: inherit;
}

label {
    font-family: 'Confortaa';
}

/* form */

    form {
        width: 40%;
        border-radius: 7px;
        background-color: rgb(144, 147, 197);
        padding: 30px;
        margin: auto;
        text-align: left;
    }

    input[type="text"], input[type="email"]{
        margin: 10px;
        padding: 8px;
        border-radius: 5px;
        border: none;
        width: 50%;
    }
    input {
        margin: 10px;
        border: none;
    }
    textarea {
        margin: 10px 0;
        border-radius: 5px;
        border: none;
        width: 95%;
        height: 250px;
        resize: vertical;
        font-size: 15px;
        padding-top: 10px;

    }

    div.button {
        text-align: center;
    }

    button {
        margin-top: 10px;
        padding: 10px;
        border-radius: 5px;
        border: none;
        width: 50%;
    }

    button:hover {
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    }

    button:active {
        transform: scale(0.95);
    }

    input[type="checkbox"]:checked {
        background-color: #4CAF50;
        border-color: #4CAF50;
    }

/* footer */ 

footer a {
    font-family: 'Open Sans';
}

footer a:hover {
    text-decoration: underline;
}
 
      