/* estilos main de la página de nuestro trabajo */

.apartado {
    background-color: rgb(220, 220, 255);
    margin: 0 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    align-content: center;
}

/* imagen */

.apartadoImg {
    flex: 1;
    text-align: center;
    width: 90%;
    min-width: 500px;
}

.apartadoImg img {
    width: 90%;
}

/* texto */

.apartadoTexto {
    flex: 1;
    text-align: justify;
    min-width: 400px;
}

.apartadoTexto a:hover {
    text-decoration: underline;
}
