
body {
    background-color: rgb(210, 215, 238);
    margin: 0;
}

header {
    font-family: 'Kodchasan';
    text-align: center;
    background-color: rgb(177, 177, 177);
    padding: 1px;
}







/* nav */

    nav {
        font-family: 'Open Sans';
        display: flex;
        justify-content: center;
        padding-right: 40px;
        background-color: rgb(177, 177, 177);
    }

    nav ul {
        flex: 1;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        
    }

    nav ul li {
        padding: 10px;
        border-radius: 10px;
        justify-content: center;
        
    }

    nav ul li:hover {
        background-color: rgb(136, 142, 168);
        color: rgb(214, 213, 213);
    }

/* a */
    a {
        text-decoration: none;
        color: inherit;
    }

    /* a:hover {
        color: rgb(216, 98, 98);
        text-decoration: underline;
    } */







/* main */

    main {
        margin: 50px 200px;
        background-color:aqua;
    }


    .intro {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 20px;
    }

    .intro p {
        flex: 1;
        overflow:auto;
        display:flex;
        max-height: 260px;
        background-color: aquamarine;
    }

















